# Файлы IntelliJ IDEA
.idea/
*.iml

# Файлы Eclipse
.classpath
.project
.settings/

# Каталоги сборки Maven
/target/

# Результаты сборки
out/

# Логи
*.log

# Секреты для docker-compose
/secrets/*
!/.gitignore

# Файлы MacOS
.DS_Store